@model PipesAndFilters.Models.StringResultViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br />
    <form asp-controller="Home" asp-action="GetStrings" method="post">
        <textarea rows="4" cols="50" name="input"></textarea>
        <br/>
        <input type="submit" value="Submit"/>
    </form>
    @if (Model != null)
    {
        <div>
            @if (Model.UserInput != null)
            {
                @Model.UserInput
            }
        </div>
        <br/>
        <div>
            @if(Model.OrderedWords != null){
                @Model.OrderedWords
            }

        </div>
        <br/>
        <div>
            @if (Model.ShiftedWords != null)
            {
                foreach (var s in Model.ShiftedWords)
                {
                    @Html.Raw(s);
                    <br/>
                }
            }
        </div>
    }

</div>