@model PipesAndFilters.Models.StringResultViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <br />
    <form asp-controller="Home" asp-action="GetStrings" method="post">
        <textarea rows="4" cols="50" name="input"></textarea>
        <br/>
        <input type="submit" value="Submit"/>
    </form>
    @if (Model != null)
    {
        <div>
            @if (Model.UserInput != null)
            {
                foreach (var s in Model.UserInput)
                {
                    @Html.Raw(s);
                    <br/>
                }
            }
        </div>
        <br/>
        <div>
            @if(Model.EachWordSet != null){
                foreach (var wordSetList in Model.EachWordSet)
                {
                    foreach (var s in wordSetList)
                    {
                        @Html.Raw(s);
                        <br/>
                    }
                    <br/>
                }
            }

        </div>
        <br/>
        <div>
            @if (Model.CombinedWords != null)
            {
                foreach (var s in Model.CombinedWords)
                {
                    @Html.Raw(s);
                    <br/>
                }
            }
        </div>
    }

</div>